beautifulsoup4
lxml
requests
pandas
chromedriver_autoinstaller
selenium
sqlalchemy
fastapi
uvicorn
starlette
python-dateutil
passlib
aiohttp
asyncio
httpx
aiosqlite
python-multipart
tdqm
fastapi-chameleon
pathos
html5lib
timebudget
zstandard
psutil
pyod
watchgod
tornado
dirtyjson
nest_asyncio