aiofiles
aiosqlite
asyncio
beautifulsoup4
cachetools
chromedriver_autoinstaller
dirtyjson
fastapi
fastapi-chameleon
html5lib
httpx[http2]
lxml
nest_asyncio
pandas
passlib
pathos
psutil
pydantic
pyod
python-dateutil
python-decouple
python-magic
python-multipart
pytz
requests
selenium
sqlalchemy
starlette
tabulate 
tdqm
timebudget
uvicorn
watchgod
zstandard
